<h1>新規スケジュール作成</h1>

<%= form_for [@user, @interview] do |f| %>

  <%= f.label :interview_date, "Interview Date" %><br>
  <%= f.datetime_select :interview_date %>

  <%= f.submit "新規スケジュール作成" %>
<% end %>
